<h3><%= mensaje %></h3>
<table><!-- customized by views/quizes/index.ejs -->
  <% var i; for (i=0; i < quizes.length; i++) { %>        
     <tr>
        <td><a href="quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a></td>
        <td><a href="quizes/<%= quizes[i].id %>/edit"><button>editar</button></a></td>
     </tr> 
  <% } %>
</table>

<a href="/quizes">Preguntas</a><br />

<form name="buscar" method="get" action="/quizes">
  <input type="text" id="search" name="search" value="" placeholder="Introduce texto a buscar" />
  <input type="submit" value="Buscar">
</form>

<br />
<a href="/quizes/new"><button type="button">Crear pregunta</button></a>
